.logout {
    display: flex;
    flex-wrap: wrap;
}

.logout_button {
    height: inherit;
    margin: 5px;
    padding: 10px;
    background-color: #f0e8c8;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: solid;
    border-color: #0FA3B1;
    
}

.logout_button button {
    background-color: #F7A072;
    border-radius: 0;
    color: black;
    border-color: #F7A072;
    border-radius: 8px;
}

.logout_button button:hover  {
    color: white;
    background-color: #264653;
    border-color: #264653;
} 

.logout_button h3 {
    padding-bottom: 5%;
    margin: 0;
}

button {
    background-color: #F7A072;
    border-radius: 0;
    color: black;
    border-color: #F7A072;
    border-radius: 8px;
}

button:hover {
    color: white;
    background-color: #264653;
    border-color: #264653;
}

.container {
    text-align: center;
    border-radius: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: solid;
    border-color: #0FA3B1;
    width: 80%;
    margin-left: 10%;
    background-color: #F9F7F3;
}

.container > button {
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
    font-size: 150%;
}

h2 {
    background-color: #EDDEA4;
    border-radius: 6px;
    border-style: none none solid none;
    border-color: #0FA3B1;
    margin: 0;
    padding: 22.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 190%;
}

.cart {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.needs {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    font-size: 120%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-decoration: none;
    text-align: start;
    margin-top: 20px;
}

.needs > h3 {
    font-size: 120%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    margin: 0;
    padding: 10px;
    width: 15%;
}

.details {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin-top: auto;
    margin-bottom: auto;
}

.details > * {
    display: table-cell;
    padding-left: 10%;
}

.details > *:last-child {
    margin-left: 20%;
}

.details > button {
    padding: 5px;
}