.login {
  display: flex;
  flex-wrap: wrap;
}

.login_button {
  height: inherit;
  margin: 5px;
  padding: 10px;
  background-color: #f0e8c8;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-style: solid;
  border-color: #0FA3B1;
  
}

.login_button button {
  background-color: #F7A072;
  border-radius: 0;
  color: black;
  border-color: #F7A072;
  border-radius: 8px;
}

.login_button button:hover  {
  color: white;
  background-color: #264653;
  border-color: #264653;
} 

.login_button h3 {
  padding-bottom: 5%;
  margin: 0;
}
