<div class="logout">
    <div class="logout_button">
        <h3>Hello {{ username }}!</h3>
        <button (click)="logout()">Logout</button>
    </div>
    <div></div>
</div>
<div class="need" *ngIf="need">
    <h2>{{need.name}} Details</h2>
    <div class="container">
        <div class="details">
            <div>
                <span>Cost: ${{need.cost}}</span>
                <span>Quantity: {{need.quantity}}</span>
                <span>Type: {{need.type}}</span>
            </div>
            <button type="button" (click)="goBack()">Go Back</button>
        </div>
        <div class="input">
            <h3>Update Need</h3>
            <div>
                <div>
                    <input #name placeholder="{{need.name}}">
                    <input #type placeholder="{{need.type}}">
                </div>
                <div>
                    <input #cost placeholder="{{need.cost}}">
                    <input #quantity placeholder="{{need.quantity}}">
                </div>
            </div>
            <button type="button" (click)="update({id: need.id, name: name.value,
                type: type.value, cost: cost.value, quantity: quantity.value})">Update</button>
        </div>
    </div>
<div>
