<button (click)="logout()">Logout</button>
<h3>Dropoff Schedules</h3>
<div *ngIf="isadmin">
    <input placeholder="Town" #town>
    <input type="number" placeholder="Month" min="1" max="12" value="1" #month>
    <input type="number" placeholder="Day" min="1" max="31" value="1" #day>
    <input type="number" placeholder="Hour" min="0" max="23" value="0" #hour>
    <input type="number" placeholder="Minute" min="0" max="59" value="0" #minute>
    <button (click)="addDropoffLocation(town.value, hour.valueAsNumber, 
    minute.valueAsNumber, 2024, month.valueAsNumber, day.valueAsNumber)">Add</button>
</div>

<div *ngIf="isadmin">
    <div [hidden]="Display">
        <label>Enter the town to update: </label>
        <input placeholder="Town" #t>
        <button (click)="getScheduleTown(t.value)">Search</button>
        <div [hidden]="display">
            
            <li *ngFor="let t of town">
                <div><span>Town: </span>{{t.town}}</div>
                <div><span>Date: </span>{{t.date}}</div>
                <label>Year/ </label>
                <label>Month/ </label>
                <label>Day/ </label>
                <div *ngFor="let d of Date;let i = index">
                    <input type="number" [(ngModel)]="Date[i]" [min]="i === 1 ? 1 : 1" 
                    [max]="i === 1 ? 12 : 31" [disabled]="i === 0">
                </div>
                <div><span>Hour: </span>{{t.hour}}</div>
                <input type="number" [(ngModel)]="t.hour" min="0" max="23"  placeholder="newhour">
                <div><span>Minute: </span>{{t.minute}}</div>
                <input type="number" [(ngModel)]="t.minute" min="0" max="59" placeholder="newminute">
                <button (click)="updateDropoffLocation(t, Date)">Edit</button>
            </li>
        </div>
    </div>
    <button (click)="toggleupdate()">Update a Location</button>
</div>

<div class="Dropoff">
    <li *ngFor="let location of schedule">
        <div><span>Town: </span>{{location.town}}</div>
        <div><span>Date: </span>{{location.date}}</div>
        <div><span>Hour: </span>{{location.hour}}</div>
        <div><span>Minute: </span>{{location.minute}}</div>
        <div><span>User: </span>{{location.user}}</div>
        <div *ngIf="isadmin">
            <button class="button" (click)="deleteLocation(location.id)">Delete Location</button>
        </div>
        <div *ngIf="!isadmin">
            <div *ngIf="location.user != null">
                <button class="button"(click)="unvolunteer(location.id)">unvolunteer</button>
            </div>
            <div *ngIf="location.user == null">
                <button class="button"(click)="volunteer(location.id, username)">Volunteer</button>
            </div>
        </div>
    </li>
</div>
